@import "call-to-action";

.btn {
	padding:1rem;
	text-align: center;
	border-radius:0.4rem;
}
.btn-block {
	display: block;
}
.btn-default{
	border:1px solid #999;
	color: #999;
}
.btn-primary{
	background-color: #337ab7;
	color: #fff;
}
.btn-lg {
	font-size:1.4rem;
}
